<!DOCTYPE html>

<html lang="{{ locale.lang }}" dir="{{ locale.dir }}" class="h-full">
    <head>
        {% for meta in site.metadata %}
        <meta  
            {% for key, value in meta %}
                {{ key }}="{{ value }}"
            {% endfor %}
        />
        {% endfor %}

        {%- for meta in site.links -%}
            <link {% for key, value in meta -%}{{ key }}="{{ value }}"{%- endfor -%} />
        {%- endfor -%}

        {% seo "" %}

        {% for link in alternate %}
            <link {% for key, value in link %}{{ key }}="{{ value }}"{% endfor %} />
        {% endfor %}

        {{ site.manifest | manifest | safe }}
        
        {% set appleIcons = helpers.appleIcons() %}
        {% for icon in appleIcons %}
        <link rel="apple-touch-icon" type="{{ icon.type }}" sizes="{{ icon.sizes }}" href="/{{ icon.src}}" />
        {% endfor %}

    
        <style>
            {{ "/src/styles/bundle.css" | include | safe }}
        </style>
    </head>
    <body class="bg-white dark:bg-gray-900">
        <div x-data="gtag"></div>
         
        {% include "partials/navigation.njk" %}

        {% include "partials/drawer.njk" %} 
       
        {{ content | safe}}   

        {% include "partials/footer.njk" %}
        
        
        <script>
            {{ "/src/scripts/bundle.js" | include | safe }}
        </script>

    </body>
</html>