---
    layout: base 
---
{%- from "components/post/macro.njk" import author, tag -%}
{%- set $author = helpers.getAuthor(author) -%}

{%- if not disableAds -%}
    <div x-data="ads" class="hidden"></div>
{%- endif -%}


{%- include "partials/structured-data/article.njk" -%}
{%- include "partials/structured-data/breadcrumb.njk" -%}




<main class="flex-auto pt-16">

    <div class="mx-auto flex flex-row-reverse justify-center">

        <article class="prose dark:prose-invert px-4">
            <header>
                {% include "partials/breadcrumb.njk" %}
                <h1>
                    {{ title | shortTitle }}
                    <span class="mt-2 block text-lg text-slate-700 dark:text-slate-400">{{ title | subtitle }}
                    </span>
                </h1>
                <img class="object-none object-center mx-auto w-full max-h-96 shadow-lg" src="{{ image }}" alt="{{ title }}">
                <p>{{ excerpt }}</p>
                <time class="mx-1 text-xs text-gray-600 dark:text-gray-300">{{date | readableDate}}</time>

                {% if $author %}
                    {{ author($author) }}
                {% endif %}
            </header>

            {%- if toc -%}
                <details class="border-y-2 border-gray-500 py-4 px-1 w-full" aria-label="On this page">
                    <summary class="font-medium text-highlight list-none relative leading-6">{{ 'content.on-this-page' | i18n(locale) }}</summary>
                    {{ content | toc({wrapperClass: 'toc not-prose'}) | safe }}
                </details>
            {%- endif -%}

            {{ content | safe}}

            <div class="w-full tags py-6 tags">
                {% for $tag in tags %}
                    {% set tagUrl = helpers.getTagUrl($tag, locale) %}
                    {% set tagTitle %}tags.{{$tag}}.title{% endset %}
                    {% set tagDescription %}tags.{{$tag}}.description{% endset %}
                    {{ 
                        tag({
                            link: tagUrl,
                            title: tagTitle | i18n(locale),
                            description: tagDescription | i18n(locale)
                        }) 
                    }}
                {% endfor %}
            </div>
            <footer class="py-6" x-data="comments" x-intersect.once="load" x-init="url='{{ site.url }}{{ page.url }}';id='{{ page.url | slug }}'"></footer>

        </article>
    </div>
</main>