---
layout: base
---
{%- from "components/page/macro.njk" import header -%}
{%- from "components/posts/macro.njk" import card with context -%}

{% include "partials/structured-data/breadcrumb.njk" %}

<main class="flex-auto pt-16">
  
  {{ header({
        title: title,
        description: excerpt,
        bg: bg}) }}
  
  <div class="mx-auto justify-center flex flex-row-reverse max-w-7xl px-4 mb-12 ">
      <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        {% for item in pagination.items %}
          <li>
            {{ card(item, locale) }}
          </li>
        {% endfor %}
      </ul>
    </div>
    {% include "partials/pagination.njk" %}
</main>