---
layout: base
---
{% import "macros/page.njk" as pageMacro %}
{% import "macros/tag.njk" as tagMacro %}

<main class="flex-auto">
  <div class="mx-auto w-full h-16 md:h-20"></div>
    {% set tagTitle %}tags.{{tag}}.title{% endset %}
    {% set tagDescription %}tags.{{tag}}.description{% endset %}

    {{ pageMacro.header({'title': tagTitle | i18n(locale), 'description': tagDescription | i18n(locale)}, locale) }}
    
  <div class="mx-auto flex flex-row-reverse max-w-7xl px-4 ">


    {% set taglist = collections[tag] %}

    <ul class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-2">
      {% for item in taglist | sort(attribute = 'time') %}
        {% if  item.data.locale.lang === locale.lang %}
        <li>
            {{ tagMacro.card(item, locale) }}
        </li>
        {% endif %}
      {% endfor %}
    </ul>
    </div>

</main>
