---
layout: base
---
{%- from "components/page/macro.njk" import header -%}

<main class="flex-auto">
  <div class="mx-auto w-full h-16 md:h-20"></div>
    {{ header({
        title: title,
        description: description
        }) 
    }}
    
    <div class="mx-auto flex justify-center p-4 max-w-7xl ">
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
        {% for key in collections[collection] %}
        {% set entry = "tags." + key %}
        {% set tag = entry | i18n(locale) %}
        {%- set tagUrl -%}
        {%- if not locale.default -%}
          /{{locale.lang}}
        {%- endif -%}
          /tags/{{ key | slug}}/
        {%- endset -%}
        <article class="flex flex-col border-2 rounded p-5 max-w-xl prose dark:prose-invert">
          <h2 class="font-bold">
            <a href="{{ tagUrl | url }}" class="text-xl">{{ tag.title }}</a>
          </h2>
          <p class="pt-1">{{ tag.description }}</p>
        </article>
        {% endfor %}
      </div>
    </div>
</main>
