<div class="card">
    <a href="{{ post.url | url }}">
        <img src="{{ post.data.image }}&amp;class=thumbnail&amp;crop=center" alt="{{ post.data.title }}" />
        <h2>{{ post.data.title | shortTitle }}</h2>
        <p>{{ post.data.title | subtitle }}</p>
    </a>
    
    <div class="tags">
    {% for tag in post.data.tags  %}
        <a href="/tags/{{ tag | slug | url }}/">
            <span class="tag tag-sm tag-{{ tag }}">
                #{{ tag | slug }}
            </span>
        </a>
    {% endfor %}
    </div>
</div>