<link href="//pagead2.googlesyndication.com" rel="preload" as="script">
<link rel="dns-prefetch" href="//pagead2.googlesyndication.com" />
<script data-ad-client="{{ id }}" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>