{%- from "../../components/structured-data/macro.njk" import breadcrumb with context -%}

{% if eleventyNavigation %}
{% set $navPages = collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key, { includeSelf: false }) %} 

<script type="application/ld+json">
  {{ breadcrumb($navPages) }}
</script>

{% endif %}