{% import "../../macros/structured-data.njk" as structuredData %}

{% if eleventyNavigation %}
{% set navPages = collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key, { includeSelf: false }) %} 

<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [
      {%- for entry in navPages -%}
        {%- set absolutePostUrl = entry.url | url | absoluteUrl(metadata.url) %}
        {{ structuredData.itemListElement(loop.index, entry.title, absolutePostUrl) }}
        {%- if not loop.last -%},{%- endif -%}
      {%- endfor -%}
      ]
    }

  
</script>

{% endif %}