{%- from "../../components/structured-data/macro.njk" import organization -%}
{%- set $publisher = metadata.publisher -%}

<script type="application/ld+json">
  {{ organization($publisher) }}
</script>