

<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Organization",
      "url": "{{ metadata.url | url }}",
      "logo": "{{ metadata.url }}/maskable_icon.png"
    }
</script>