{% macro gtag(id) %}
<link rel="dns-prefetch" href="//www.googletagmanager.com" />
<link href="//www.googletagmanager.com/gtag/js?id={{ id }}" rel="preload" as="script">
<script async src="//www.googletagmanager.com/gtag/js?id={{ id }}"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', '{{ id }}');
</script>
{% endmacro %}

{% macro ads(id) %}
<link href="//pagead2.googlesyndication.com" rel="preload" as="script">
<link rel="dns-prefetch" href="//pagead2.googlesyndication.com" />
<script data-ad-client="{{ id }}" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
{% endmacro %}
