{% import "macros/google.njk" as google %}

<!DOCTYPE html>
<html lang="{{ locale.lang }}" dir="{{ locale.dir }}" class="h-full bg-gray-100">
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='x-ua-compatible' content='ie=edge'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="{{ site.manifest.theme_color  }}">

        {% for link in alternate %}
        {% if link.type == 'lang' %}
        <link rel="alternate" hreflang="{{ link.hreflang }}" href="{{ site.url }}{{ link.href }}" />
        {% endif %}
        {% endfor %}

        {{ site.manifest | manifest | safe }}
        
        {% set appleIcons = helpers.appleIcons() %}
        {% for icon in appleIcons %}
        <link rel="apple-touch-icon" type="{{ icon.type }}" sizes="{{ icon.sizes }}" href="/{{ icon.src}}" />
        {% endfor %}
        
        <meta name="theme-color" content="#ffffff">

       

        {% seo "" %}
        {% if site.facebook.appId %}
        <meta property="fb:app_id" content="{{ site.facebook.appId }}" />
        {% endif %}
       
        {% if site.google.ads and tmplClass == 'post' %}
        {{ google.ads( site.google.ads ) }}    
        {% endif %}

        {% if site.google.gtag %}
        {{ google.gtag( site.google.gtag ) }}
        {% endif %}

    
        {% set css %}
        {% include "assets/bundle.css" %}
        {% endset %}
        <style>
        {{ css | safe }}
        </style>

       

    </head>
    <body class="bg-white dark:bg-gray-900">
        {% include "partials/navigation.njk" %}
       
        <div class="container mx-auto mb-24">
            {{ content | safe}}   
        </div>

        {% include "partials/footer.njk" %}

        

         <!-- capture the JS content as a Nunjucks variable -->
        {% set js %}
        {% include "assets/bundle.js" %}
        {% endset %}
        <!-- feed it through our jsmin filter to minify -->
        <script>
        const disqus_config = () => {
            this.page.url = "{{ site.url }}{{ page.url }}";
            this.page.identifier = "{{ page.url | slug }}";
        };
        
        {{ js | safe }}
        </script>

    </body>
</html>