---
layout: layouts/base 
tmplClass: post
---

<main class="flex-auto">
    <div class="mx-auto w-full h-16 md:h-20"></div>

    <img class="object-cover mx-auto w-full  max-h-96 shadow-lg mb-6" src="{{ image }}" alt="{{ title }}">

    <div class="mx-auto flex flex-row-reverse justify-center">
         {%- if toc -%}
            {{ content | toc({wrapperClass: 'toc not-prose basis-1/4 hidden lg:inline-flex p-4'}) | safe }}
        {%- endif -%}

        <!-- basis-3/4 lg:basis-full -->
        <article class="prose dark:prose-invert px-4">
            <header>
                {% include "partials/breadcrumb.njk" %}
                <h1>{{ title }}</h1>
                <p>{{ excerpt }}</p>
                <time class="mx-1 text-xs text-gray-600 dark:text-gray-300">{{date | readableDate}}</time>
               
                {% set $author = authors[author] %}
                {% if $author %}
                
                <div class="flex items-center space-x-4 py-4 not-prose">
                    <img class="w-10 h-10 rounded-full" src="{{ $author.avatar }}#width=64&height=64" alt="{{ $author.name }}">
                    <div class="space-y-1 font-medium text-gray-700 dark:text-white">
                        <div class="text-highlight">{{ $author.name}}</div>
                        <div class="flex space-x-4">
                        {% for item in $author.links %}

                        <a href="{{ item.link }}" class="text-sm text-gray-500 hover:text-gray-600 dark:text-gray-400 dark:hover:text-gray-200" rel="noopener" target="_blank">
                            {% if item.icon %}
                                {% set icon = "/src/_includes/svg/" + item.icon + ".svg" %}
                                {{ icon | svgContents("inline w-5") | safe }}    
                            {% endif %}
                            {{ item.label}}
                        </a>
                        {% endfor %}
                        </div>
                    </div>
                </div>
                {% endif %}
            </header>

            
            {%- if toc -%}
                <details class="border-y-2 border-gray-500 py-4 px-1 w-full lg:hidden" aria-label="On this page">
                    <summary class="font-medium text-highlight list-none relative leading-6">{{ 'content.on-this-page' | i18n(locale) }}</summary>
                    {{ content | toc({wrapperClass: 'toc not-prose'}) | safe }}
                </details>
            {%- endif -%}

            {{ content | safe}}
            
            
            {% for tag in tags %}
                <a href="/tags/{{ tag | slug | url }}/" class="px-4 py-2 border-2 rounded-full no-underline font-light cursor-pointer hover:bg-indigo-600 hover:text-white hover:border-0"> 
                    {{ tag | slug }}
                </a>
            {% endfor %}
            <footer class="py-6" x-data="comments" x-intersect.once="load" x-init="url='{{ site.url }}{{ page.url }}';id='{{ page.url | slug }}'"></footer>

        </article>
    </div>
</main>