--- 
layout: layouts/base
tmplClass: tags
---
{% import "macros/post.njk" as post %}

<main class="flex flex-col flex-wrap pt-24 px-4 mx-auto overflow-hidden shadow sm:w-10/12 md:w-10/12 lg:w-8/12">

    {% include "partials/breadcrumb.njk" %}
    <div class="w-full py-4">
      <h1 class="block mt-2 text-2xl font-semibold text-gray-800  dark:text-white">{{ title }}</h1>
      <p class="py-2">{{  excerpt }}</p>
      {{ content | safe }}

      <ul class="grid grid-cols-3 gap-4">
        {% for item in collections[collection]| sort(attribute = 'time') %}
          <li>
              
            {% set tagUrl %}/{{ locale.lang}}/tags/{{ item }}/{% endset %}
            <a href="{{ tagUrl | url }}">
                <span class="rounded-md bg-gray-500  text-slate-100 font-bold my-1 mx-4 py-1 px-4">
                  #{{ item }}
                </span>
            </a>
          </li>
        {% endfor %}
      </ul>

      {% include "partials/pagination.njk" %}
    </div>
    
</main>