---
layout: tag
pagination:
    data: collections.enTags
    size: 1
    alias: tag
permalink: /{{locale.lang}}/tags/{{ tag | slug }}/
eleventyComputed:
  title: Etiqueta “{{ tag | i18n(locale) }}”
eleventyNavigation:
  parent: "{{locale.lang}}-tags"
  key: "{{ tag  }}"
  title: {{ tag }}
  order: 9
---
