{
    "@type": "ImageObject",
    "@id": "{% if $props.id %}{{ $props.id }}{% else %}{{ $props.url }}{% endif %}",
    "url": "{{ $props.url }}",
    "height": "{{ $props.height }}",
    "width": "{{ $props.width }}"
}