{% macro breadcrumb($navPages) %}
    {% include "./breadcrumb.njk" %}
{% endmacro %}

{% macro itemListElement(position, name, item) %}
    {% include "./item-list-element.njk" %}
{% endmacro %}

{% macro organization($props) %}
    {% include "./organization.njk" %}
{% endmacro %}

{% macro blogPosting() %}
    {% include "./blog-posting.njk" %}
{% endmacro %}

{% macro person($props) %}
    {% include "./person.njk" %}
{% endmacro %}

{% macro imageObject($props) %}
    {% include "./image-object.njk" %}
{% endmacro %}

