<footer class="flex-auto text-center text-gray-700 dark:text-gray-100 dark:bg-gray-900
border-t border-slate-900/10 dark:border-slate-300/10 py-4 sm:py-12
 ">
    <nav class="flex justify-center py-4">
        <ul class="flex list-none">
            {%- for name, item in metadata.links -%}
                <li>
                    {%- set icon = "/src/svg/" + name + ".svg" -%}
                    <a href="{{ item }}" title="Sígueme en {{ name }}" target="_blank" rel="noopener" class="{%if not loop.last %}mr-9 {% endif %}w-full text-gray-700 dark:text-gray-100">
                        {{ icon | svgContents("dark:fill-white inline w-5 ") | safe }}
                    </a>
                </li>
            {%- endfor -%}
        </ul>

    </nav>

    <nav class="flex justify-center py-4">
        <ul class="flex flex-row list-none">
        {%- for item in i18n[locale.lang].footerLinks -%}
            <li
            {% if loop.first %}
                class="pr-4"
            {% else %}
                class="pr-4 pl-4 border-l border-slate-200 dark:border-slate-200/5"
            {% endif %} 
            >
                <a href="{{ item.link }}" title="{{ item.description }}" rel="nofollow" class="w-full text-gray-700 dark:text-gray-100">
                    {{ item.label }}
                </a>
            </li>
        {%- endfor -%}
        </ul>
    </nav>

    <p>Copyright © {{ helpers.currentYear() }} {{ site.name }}</p>

</footer>