<nav
  class="flex fixed w-full items-center justify-between

    backdrop-blur 
    transition-colors 
    duration-500 
    
    lg:border-b 
    bg-white/90 
    px-4
    py-2
    
    border-b 
    border-slate-900/10 
    dark:border-slate-300/10 
    lg:px-8 
    lg:border-0 
    lg:mx-0
    text-sm 
    leading-6 
    font-semibold 
    text-slate-700 
    dark:text-slate-200
    border-gray-200 
    z-50
    dark:bg-slate-900/75
">
  <div class="flex items-center">
    <div role="button" on="tap:drawer.toggle" tabindex="0" class="mr-2">
      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewbox="0 0 24 24" class="w-8 h-8">
        <path d="M4 6h16M4 12h16M4 18h16"></path>
      </svg>
    </div>
    <div class="flex h-auto mx-auto text-slate-700 dark:text-slate-200 font-bold p-3">      
        {{ site.name }}
    </div>
  </div>
</nav>