{% if pagination.pageLinks.length > 1 %}

{% set disabled = "flex items-center justify-center px-4 py-2 mx-1 text-gray-500 capitalize bg-white rounded-md cursor-not-allowed dark:bg-gray-900 dark:text-gray-600" %}
{% set enabled = "flex items-center justify-center px-4 py-2 mx-1 text-gray-700 transition-colors duration-200 transform bg-white rounded-md dark:bg-gray-900 dark:text-gray-200 hover:bg-blue-500 dark:hover:bg-blue-500 hover:text-white dark:hover:text-gray-200" %}

<nav aria-labelledby="pagination" class="flex items-center justify-center p-6">
  <ol class="flex">
    <li class="flex">
        {% if page.url != pagination.href.first %}
        <a href="{{ pagination.href.first }}" class="{{ enabled }}">
            {{ "pagination.first" | i18n(locale) }}
        </a>
        {% else %}
        <div class="{{ disabled }}">
           {{ "pagination.first" | i18n(locale) }}
        </div>
        {% endif %}
    </li>
    <li class="flex">
        {% if pagination.href.previous %}
         <a href="{{ pagination.href.previous }}" class="{{ enabled }}">
            {{ "/src/svg/left.svg" | svgContents("dark:fill-white inline w-6 h-6") | safe }}
        </a>
        {% else %}
        <div class="{{ disabled }}">
            {{ "/src/svg/left.svg" | svgContents("dark:fill-gray-600 inline w-6 h-6") | safe }}
        </div>
        {% endif %}
    </li>
   
    <li class="flex">
        <a 
            href="{{ pagination.hrefs[ pagination.pageNumber ] }}"
            aria-current="page"
            class="{{ enabled }}"
        >
            {{ pagination.pageNumber +1 }}
        </a>
    </li>
    

    <li class="flex">
        {% if pagination.href.next %}
        <a href="{{ pagination.href.next }}" class="{{ enabled }}">
                {{ "/src/svg/right.svg" | svgContents("dark:fill-white inline w-6 h-6") | safe }}
        </a>
        {% else %}
        <div class="{{ disabled }}">
                {{ "/src/svg/right.svg" | svgContents("dark:fill-gray-600 inline w-6 h-6") | safe }}
        </div>
        {% endif %}
    </li>
    <li class="flex">
        {% if page.url != pagination.href.last %}
        <a href="{{ pagination.href.last }}" class="{{ enabled }}">
            {{ "pagination.last" | i18n(locale) }}
        </a>

        {% else %}
        <div class="{{ disabled }}">
            {{ "pagination.last" | i18n(locale) }}
        </div>
        {% endif %}
    </li>
  </ol>
</nav>

{% endif %}
