---
layout: layouts/tags
pagination:
    data: collections.esTags
    size: 1
    alias: tag
permalink: /es/tags/{{ tag | slug }}/
eleventyComputed:
  title: Etiqueta “{{ tag }}”
eleventyNavigation:
  parent: es-tags
  key: es-tags-{{ tag }}
  title: {{ tag }}
  order: 3
---
