<footer class="text-center text-white bg-gray-50 ">
 
    <div class="flex justify-center pt-9 mb-9">
        {%- for name, item in metadata.links -%}
        {%- set icon = "/src/_includes/svg/" + name + ".svg" -%}
        <a href="{{ item }}" title="Sígueme en {{ name }}" target="_blank" rel="noopener"  class="mr-9 text-gray-800">
            {{ icon | svgContents("inline w-5") | safe }}
        </a>
    {%- endfor -%}
    </div>

    <div class="flex flex-col text-white bg-gray-700 p-4" >
        <div class="flex-1" >
            <a href="{{ site.url }}">{{ site.name }}</a>– {{ site.description }}
        </div>

        <div class="flex-1" >
        Copyright © {{ helpers.currentYear() }}
        </div>
    </div>
    
 
</footer>
