{% if pagination.pageLinks.length > 1 %}
    <nav class="pagination">
        <ol>
            <li class="previous">
            {%- if pagination.previousPageLink -%}
                <a href="{{ pagination.previousPageHref | url }}">
                    <i class="icon-btn">{% include 'svg/chevron-left.svg' %}</i>
                </a>
            {%- endif -%}
            </li>
            <li class="next">
            {%- if pagination.nextPageLink -%}
                <a href="{{ pagination.nextPageHref | url }}">
                    <i>{% include 'svg/chevron-left.svg' %}</i>
                </a>
            {%- endif -%}
            </li>
        </ol>
    </nav>
{% endif %}